* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==============================================*/
html,
body {
  height: 100%;
  line-height: 1;
  letter-spacing: 0.2px;
  font-size: 14px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
  background: #f3f3f3;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.btn_orange {
  transition: all ease 0.2s;
  background: #ff7b47;
}

.btn_orange:hover {
  background: #df4a10;
}

/*==============================================*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479.98px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: inherit;
}

.header__menu {
  margin-left: 133px;
  padding: 5px 0;
}

@media (max-width: 991.98px) {
  .header__menu {
    margin-left: 80px;
  }
}

@media (max-width: 767.98px) {
  .header__menu {
    margin-left: 50px;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 814px) {
  .menu__link {
    color: #413f3f;
  }
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 479.98px) {
  .menu__link {
    font-size: 18px;
  }
}

/*==============================================*/

.page {
  flex: 1 1 auto;
}

.page__services {
  margin-top: -130px;
  position: relative;
  z-index: 2;
}

.page__clients:not(:last-child) {
  margin-bottom: 10px;
}

/*==============================================*/

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 1.42;
}

.header-block__title {
  font-weight: bold;
  font-size: 40px;
}

.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__text {
  font-size: 14px;
  color: #737373;
  margin: auto;
}

/*==============================================*/

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  letter-spacing: 0.2px;
  max-width: 509px;
}

@media (max-width: 991.98px) {
  .main-block__body {
    padding: 120px 0 191px 0;
  }

  .main-block__text {
    color: inherit;
  }
}

.main-block__body>*:not(:last-child) {
  margin-bottom: 35px;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 138%;
}

@media (max-width: 479.98px) {
  .main-block__title {
    font-size: 48px;
  }
}

.main-block__text {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  max-width: 376px;
}

@media (max-width: 814px) {
  .main-block__text {
    font-weight: 500;
    color: #2e2c2c;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 36px;
  line-height: 2;
  font-weight: 700;
  margin: 10px 0;
}

@media (max-width: 479.98px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (max-width: 479.98px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  color: #ffffff;
  margin-right: 10px;
}

.main-block__button_green {
  border: 1px solid #0d5c63;
  color: #0d5c63;
}

.main-block__button_green:hover {
  border: 1px solid #fff;
  color: #ffffff;
  background: #0d5c63;  
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

/*==============================================*/

.services__body {
  display: flex;
}

.services__item {
  padding: 40px 50px 35px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  text-align: left;
  flex: 0 1 33.333%;
  background-color: #ffffff;
}

.services__item>*:not(:last-child) {
  margin-bottom: 10px;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 1086.98px) {
  .services__body {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .services__item:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 991.98px) {
  .services__item {
    min-width: 310px;
  }
}

@media (max-width: 767.98px) {
  .services__item {
    flex: 1 1 40%;
  }

  .services__body:last-child {
    flex: 1 1 60%;
  }
}

.item-services__title {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: inherit;
  font-weight: bold;
}

.item-services__text {
  line-height: 1.43;
}

.item-services_green {
  background: #0d5c63;
  color: #ffffff;
}

/*==============================================*/
.advantages {
  padding: 80px 0;
}

.advantages__header {
  margin-bottom: 50px;
}

.advantages-block-text {
  max-width: 510px;
}

.advantages__body {
  display: flex;
  margin: 0 -15px -30px;
  flex-wrap: wrap;
}

.advantages__column {
  padding: 0 15px;
  flex: 0 1 25%;
  margin-bottom: 30px;
}

@media (max-width: 1020.98px) {
  .advantages__column {
    flex: 0 1 50%;
  }

  .advantages {
    padding: 40px 0;
  }
}

@media (max-width: 559.98px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #ffff;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}

.advantages__item>*:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
}

.advantages__text {
  font-size: 16px;
  line-height: 1.5;
  color: #737373;
  letter-spacing: 0.1px;
}

/*==============================================*/

.practice {
  padding: 125px 0 80px 0;
}

@media (max-width: 991.98px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .practice {
    padding: 0 0 20px 0;
  }
}

.practice__header {
  margin-bottom: 45px;
}

.practice-block-text {
  max-width: 470px;
}

.practice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
  margin-bottom: 30px;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.practice__item {}

.item-practice {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: inline-block;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin-bottom: 15px;
}

.item-practice__title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  font-weight: bold;
}

.item-practice__text {
  color: #737373;
  line-height: 1.4;
}

.item-practice__image {
  display: block;
  padding-bottom: 69%;
}

/*==============================================*/

.whoweare {
  background: #ffffff;
  padding: 100px 0 136px 0;
}

.whoweare__header {
  margin-bottom: 100px;
}

.header-block__text {
  max-width: 511px;
}

.whoweare__body {
  display: flex;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  padding: 20px 0 0 120px;
  flex: 1 1 auto;
}

.whoweare__top:not(:last-child) {
  margin-bottom: 50px;
}

.whoweare__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.42;
}

.whoweare__title:not(:last-child) {
  margin-bottom: 10px;
}

.whoweare__text {
  line-height: 1.43;
}

.whoweare__items {
  margin-top: 50px;
}

.whoweare__item:not(:last-child) {
  margin-bottom: 30px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 30px;
  margin-right: 20px;
}

.item-whoweare__body {
  flex: 1 1 auto;
}

.item-whoweare__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}

.item-whoweare__text {
  line-height: 1.71;
  color: #737373;
  text-overflow: ellipsis;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 1086.98px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 950px) {
  .whoweare__content {
    padding: 0;
  }

  .whoweare {
    padding: 40px 0 40px 0;
  }

  .whoweare__header {
    margin-bottom: 50px;
  }

  .whoweare__video {
    padding-bottom: 56.25%;
    margin-top: 40px;
  }

  .whoweare__body {
    flex-direction: column-reverse;
  }

  .whoweare__title {
    font-size: 26px;
    font-weight: 600;
  }

  .whoweare__top:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .whoweare__header {
    margin-bottom: 30px;
  }

  .whoweare__items {
    margin-top: 40px;
  }
}

/*==============================================*/

.clients {
  padding: 55px 0;
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.667%;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

/*==============================================*/

.subscribe {
  position: relative;
  padding: 0 30px 20px 30px;
}

.subscribe__body::after {
  content: "";
  position: absolute;
  background: #252b42;
  height: 77px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.subscribe__container {}

.subscribe__body {
  max-width: 986px;
  margin: 0 auto;
  background: #17213c;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
}

.subscribe__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #ffffff;
  max-width: 266px;
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  line-height: 2;
  min-height: 58px;
}

.subscribe__input {
  flex: 1 1 auto;
  padding: 0 20px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0 0 5px;
  border-right: 0;
  box-sizing: border-box;
  min-height: inherit;
}

.subscribe__button {
  padding: 0 22px;
  color: #ffffff;
  min-height: inherit;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1070px) {
  .subscribe {
    padding: 0 10px 20px 10px;
  }
}

@media (max-width: 767.98px) {
  .subscribe__body {
    display: block;
    margin: 0 -30px;
  }

  .subscribe__title {
    max-width: none;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 479.98px) {
  .subscribe__body {
    padding: 20px;
  }

  .subscribe__title {
    font-size: 20px;
  }

  .subscribe__button {
    padding: 0 10px;
  }

  .subscribe__input {
    padding: 0 0 0 10px;
  }
}

/*==============================================*/
.getintouch {
  padding: 40px 0;
}

.getintouch__header:not(:last-child) {
  margin-bottom: 30px;
}

.header-block__text {
  max-width: 417px;
}

.getintouch__items {
  margin: 0 -20px;
}

.getintouch__item {
  flex: 0 1 33.333%;
  background: #ffffff;
  padding: 25px 15px;
  color: #252b42;
  font-weight: bold;
}

.item-getintouch_active {
  background: #252b42;
  color: #ffffff;
}

.getintouch__item>*:not(:last-child) {
  margin-bottom: 15px;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  color: inherit;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
}

.item-getintouch_active .item-getintouch__button {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.item-getintouch__button {
  line-height: 1.71;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #ff7b47;
  border: 1px solid #ff7b47;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all ease 0.2s;
}

.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

@media (min-width: 987.98px) {
  .getintouch {
    padding: 50px 0 150px 0;
  }

  .getintouch__header:not(:last-child) {
    margin-bottom: 80px;
  }

  .getintouch__items {
    display: flex;
    align-items: center;
    padding: 0 33px;
  }

  .getintouch__item {
    padding: 55px 15px;
  }

  .item-getintouch_active {
    padding: 80px 15px;
    background: #252b42;
    color: #ffffff;
  }
}

/*==============================================*/
.contact {
  padding: 40px 0;
  background: #fafafa;
}

.contact__body {
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
}

.contact__title:not(:last-child) {
  margin-bottom: 10px;
}

.contact__text {
  line-height: 1.43;
}

.contact__button {
  padding: 15px 40px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}

/*==============================================*/
.footer__top {
  background: #17213C;
  padding: 35px 0;
}

.footer__row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__column {
padding: 10px 15px;
  flex: 0 1 16.667%;
}
.footer__column:last-child {
  flex: 0 1 33.334%;
}

@media (max-width: 991.98px) {
  .footer__column {
      flex: 0 1 25%;
    }
    .footer__column:last-child {
      flex: 0 1 100%;
    }
}

@media (max-width: 750px) {
  .footer__column {
      flex: 0 1 50%;
    }
    .footer__column:last-child {
      flex: 0 1 100%;
    }
}

.footer__label {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-footer__link {
  display: inline-block;
  color: #FFFFFF; 
  line-height: 1.71;
letter-spacing: 0.2px;
font-weight: 600;
}

.menu-footer__link:hover{
  text-decoration: underline;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  color: #FFFFFF; 
padding-left: 34px;
min-height: 30px;
display: flex;
align-items: center;
line-height: 1.42;
font-weight: 600;
}

.contacts-footer__item:hover{
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.contacts-footer__item_phone {
  background: url("../img/footer/phone.svg") left no-repeat;
}

.contacts-footer__item_map {
  background: url("../img/footer/location.svg") left no-repeat;
}

.contacts-footer__item_email {
  background: url("../img/footer/telegram.svg") left no-repeat;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy {
  color: #737373;
  line-height: 1.71;
font-weight: 600;
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__copy{
    margin-bottom: 15px;
    text-align: center;
  }
}
